@charset "UTF-8";
@font-face {
    font-family:'texto' ;
    src: url('../fonte/xilosa_.ttf') format(truetype);
    font-weight: normal;
   font-style: normal;
   
   }
@font-face {
    font-family: 'fonte';
    src: url('../fonte/Cordenilo.otf') format(opentype),url('../fonte/Cordenilo-Bold.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
body,html{
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    text-align: center;
    background-color: #FFAE00;
    color: black;
}
header > h1{
    font-family: 'texto',Arial, Helvetica, sans-serif;
    font-size: 8vh;
    font-variant: small-caps;
    padding-top: 50px;
    padding: 5px;
}
header > p{
 font-family: 'fonte';
 font-size: 2.5vh;
 padding-bottom: 15px;
}
 a{
    font-weight: bolder;
   text-decoration: none;
   color: #0099DD;
 }
 a:hover{
    color: #103778;
 }
main p {
    font-family: 'fonte',Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 3em;
}
main{
    padding-bottom: 50px;
}
main .imagem{
   
    color: white;
    background-color: rgba(0, 0, 0, 0.574);
    text-align: center;
    display: block;
 }

 section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
   line-height: 2em;
   font-size: 3vw;
 }
 section.imagem > p{
    background-color:rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px 0px black;
 }
 section.imagem{
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.449);
    background-attachment: fixed;
    background-position: center center;
 }
 section#img1{
 background-image: url('../imagens/xilogravura-elemento-ccordel.png');
 }
 section#img2{
 background-image: url('../imagens/cordel2-1493641899-612x612.jpg');
  color: #FFB30D;
 }
 footer{
    text-align: center;
    background-color: #ffb20daa;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }